
Gradius/.idea/workspace.xml
venv/Scripts/pythonw.exe
venv/Scripts/python.exe
venv/Scripts/easy_install-script.py
venv/Scripts/deactivate.bat
venv/Scripts/Activate.ps1
venv/Scripts/activate.bat
venv/Scripts/activate
venv/pyvenv.cfg
venv/Lib/site-packages/setuptools.pth
venv/Lib/site-packages/setuptools-39.1.0-py3.7.egg
venv/Lib/site-packages/easy-install.pth
Gradius/spaceshipmin.png
Gradius/sim_move_demo.py
Gradius/sim_move_demo.py
Gradius/rotrock4.png
Gradius/rotrock3.png
Gradius/rotrock2.png
Gradius/rotrock1.png
Gradius/rock4.png
Gradius/rock4.png
Gradius/levelsymbol.png
Gradius/alienmin.png
Gradius/sim_move_demo.py
